@model List<WishList.Models.Item>

<h1>Wishlist</h1>
    <a asp-action="create">Add item</a>

    <ul>
        @foreach (var x in Model) {
        <li>@x.Description <a asp-action="delete" asp-route-id="x.Id">delete</a></li>
        }
    </ul>

<a asp-action="Index" asp-controller="Item">View wishlist</a>